{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<h2>Login 해 주세요</h2><br>
<h3><a href="/register">REGISTER<a> </h3>
<h3>미가입시 register 요망</h3>
<a href="/register">Register</a>
<form action="/login" method="POST">
  <label for="fname">학번:</label><br>
  <input type="text" id="fname" name="num" value=""><br>
  <label for="lname">이름:</label><br>
  <input type="text" id="lname" name="name" value=""><br><br>
  <input type="submit" value="Log in">
</form>

{% endif %}
{% endblock %}